[Desktop Entry]
Type=Application
Name=Drawy
Name[ar]=السبورة
Name[ca]=Drawy
Name[ca@valencia]=Drawy
Name[de]=Drawy
Name[es]=Drawy
Name[eu]=Drawy
Name[fr]=Drawy
Name[he]=Drawy
Name[ia]=Drawy
Name[it]=Drawy
Name[ka]=Drawy
Name[nl]=Drawy
Name[pt_BR]=Drawy
Name[sl]=Drawy
Name[tr]=Drawy
Name[uk]=Drawy
Name[zh_TW]=Drawy
Comment=Your handy, infinite brainstorming tool
Comment[ar]=أداة مفيدة غير محدودة لتبادل الأفكار
Comment[ca]=La vostra eina pràctica, infinita i de pluja d'idees
Comment[ca@valencia]=La vostra eina pràctica, infinita i de pluja d'idees
Comment[es]=Herramienta práctica y sin límites para generar lluvia de ideas
Comment[he]=כלי סיעור המוחין השימושי והאינסופי שלך
Comment[it]=Il tuo pratico e infinito strumento di brainstorming
Comment[ka]=თქვენი მოსახერხებელი, უსასრულო განსჯის ხელსაწყო
Comment[nl]=Uw handige, oneindige hulpmiddel voor brainstormen
Comment[pt_BR]=Sua ferramenta prática e infinita para brainstorming
Comment[sl]=Vaše priročno, neskončno orodje za viharjenje možgan
Comment[tr]=Kullanışlı, sınırsız beyin fırtınası aracın
Comment[uk]=Ваша зручна, нескінченна програма для мозкових штурмів
Comment[zh_TW]=好用的無限畫布腦力激盪工具
Exec=drawy
Icon=drawy
Categories=Qt;KDE;Graphics
MimeType=application/x-drawy
