[Desktop Entry]
Type=Application
Name=Drawy
Name[ar]=السبورة
Name[ca]=Drawy
Name[ca@valencia]=Drawy
Name[de]=Drawy
Name[es]=Drawy
Name[eu]=Drawy
Name[he]=Drawy
Name[it]=Drawy
Name[ka]=Drawy
Name[nl]=Drawy
Name[pt_BR]=Drawy
Name[sl]=Drawy
Name[tr]=Drawy
Name[uk]=Drawy
Name[zh_TW]=Drawy
Comment=Your handy, infinite brainstorming tool
Exec=drawy
Icon=drawy
Categories=Qt;KDE;Graphics
MimeType=application/x-drawy
